@import "./src/css/Colors.scss";

.custom-icon-wrapper :global{
  .current-icon {
    flex-grow: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 8px;

    svg path {
      fill: $green-100;
    }

    &:hover {
      svg {
        transition: 0.4s ease;
        transform: scale(1.2);
      }
    }

    &.disabled {
      flex-grow: 0;
      cursor: pointer;
      width: 24px;
      height: 24px;
      margin-left: 8px;

      svg path {
        fill: $table-background;
      }
    }
  }


  .spinner{
    font-size: 20px;
    color: $green-100;
  }
}
