$table-font: #c1c1c1;
$table-font-200: #96a2aa;
$border_color: #212121;
$header-bottom-border: #b06a01;
$background: #303030;
$header-background: #212121;
$table-background: #424242;
$table-name-background: #4c4b4b;
$table-background-hover: #282828;
$green-900: #032c28;
$green-800: #06534b;
$green-100: #0a9385;
$white: #fff;
$black: #000;

$tbody-shadow: 5px 6px 7px -3px rgba(0, 0, 0, 0.13);

